.venv
*.mp4
train
models/
checkpoints/
SST/
outputs/
EdgeTAM/
FastSAM/   
GTR/
GroundingDINO/
MobileSAM/
Segment-Anything/
SAM/
Grounded-Segment-Anything/
clip1_fresh_runs/
benchmark_sets/
QueryDet-PyTorch/
FastSAM/
detectron2/
visualizations/
WASB-SBDT/
*.log
france_vs_argentina/    
clips
rf-detr
coco_detections/
*.tar
*.pth
*.pt